# SPDX-FileCopyrightText: 2022 Kattni Rembor, written for Adafruit Industries
#
# SPDX-License-Identifier: MIT

# cookiecutter-specific files
.cookie_test/
.pytest*

# CircuitPython-specific files
*.mpy

# Python-specific files
__pycache__
*.pyc

# Sphinx build-specific files
_build

# This file results from running `pip -e install .` in a local repository
*.egg-info

# Virtual environment-specific files
.env
.venv

# MacOS-specific files
*.DS_Store

# IDE-specific files
.idea
.vscode
*~
