# SPDX-FileCopyrightText: 2017 Scott Shawcroft, written for Adafruit Industries
#
# SPDX-License-Identifier: Unlicense

$RECYCLE.BIN/
*$py.class
**/*.egg-info
*.DS_Store
*.cab
*.cover
*.egg
*.idea.py
*.iws
*.lnk
*.log
*.manifest
*.mo
*.mpy
*.msi
*.msix
*.msm
*.msp
*.orig
*.pot
*.py,cover
*.py[cod]
*.pyc
*.sage.py
*.so
*.spec
*.stackdump
*.swp
*.ttf
*.vsix
*notes*
*~
.AppleDB
.AppleDesktop
.AppleDouble
.DS_STORE
.DS_Store
.DocumentRevisions-V100
.LSOverride
.Python
.Spotlight-V100
.TemporaryItems
.Trash-*
.Trashes
.VolumeIcon.icns
._*
.apdisk
.cache
.com.apple.timemachine.donotpresent
.coverage
.coverage.*
.directory
.dmypy.json
.eggs
.eggs/
.env
.fseventsd
.fuse_hidden*
.history/
.hypothesis/
.idea
.installed.cfg
.ipynb_checkpoints
.mypy_cache
.nfs*
.nox/
.prof
.pybuilder/
.pyre/
.pytest_cache/
.python-version
.pytype/
.ropeproject
.scrapy
.spyderproject
.spyproject
.tox
.venv
.vscode
.webassets-cache
/build
/site
ENV/
Icon
MANIFEST
Network Trash Folder
Pipfile
Pipfile.lock
TAGS
Temporary Items
Thumbs.db
Thumbs.db:encryptable
[Dd]esktop.ini
__pycache__
__pypackages__/
_build
atlassian-ide-plugin.xml
build
build*
bundles
celerybeat-schedule
celerybeat.pid
cmake-build-*/
com_crashlytics_export_strings.xml
cover/
coverage.xml
crashlytics-build.properties
crashlytics.properties
cython_debug/
db.sqlite3
db.sqlite3-journal
develop-eggs/
dist
dmypy.json
doc/_build/
docs/_build/
docs/html
downloads/
eggs/
ehthumbs.db
ehthumbs_vista.db
env.bak/
env/
fabric.properties
guide/
htmlcov/
instance/
ipython_config.py
lib/
lib64/
local_settings.py
nosetests.xml
notes
out/
parts/
pip-delete-this-directory.txt
pip-log.txt
pip-wheel-metadata/
profile_default/
pytestdebug.log
pythonenv*
sdist/
share/python-wheels/
target/
temp/
var/
venv
venv.bak/
wheels/
