Adafruit-Blinka
{% if cookiecutter.requires_bus_device in ["y", "yes"] -%}
adafruit-circuitpython-busdevice
{%- endif %}
{%- if cookiecutter.requires_register in ["y", "yes"] %}
adafruit-circuitpython-register
{%- endif %}
{%- if cookiecutter.other_requirements != "" %}
    {% cookiecutter.other_requirements %}
{%- endif %}
