# SPDX-FileCopyrightText: 2017 Scott Shawcroft, written for Adafruit Industries
# SPDX-FileCopyrightText: Copyright (c) {% now 'utc', '%Y' %} {{ cookiecutter.author }}{% if cookiecutter.company %} for {{ cookiecutter.company }}{% endif %}
#
# SPDX-License-Identifier: MIT

{% set req_list = namespace(items=["Adafruit-Blinka"]) %}
{%- if cookiecutter.requires_bus_device in ["y", "yes"] -%}
    {%- do req_list.items.append("adafruit-circuitpython-busdevice") -%}
{%- endif %}
{%- if cookiecutter.requires_register in ["y", "yes"] %}
    {%- do req_list.items.append("adafruit-circuitpython-register") -%}
{%- endif %}
{%- if cookiecutter.other_requirements != "" %}
    {%- set tests = cookiecutter.other_requirements -%}
    {%- do req_list.items.extend(tests.replace(" ", "").split(",")) -%}
{%- endif -%}
{{ req_list.items|unique|join("\n") }}
